body{
    background-color: gray;
}

.container{
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.containerImg {
    height: auto; 
}

.containerImg img{
    max-height: 45px;
    filter: blur(0.5);
    margin-right: 20px; 
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header{
    // border: 3px solid green;
    height: 80px;
    background-color: indigo;

    &-content{
        // border:3px solid  blue;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .left{
        // border: 3px solid khaki;
        display: flex;
        height: 100%;

        & .menu-list{
            // border: 3px solid aqua;
            color: white;
            height: 100%;
            text-transform: uppercase;

            & li{
                display: inline-block;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;

                & span{
                    height: 100%;
                    display: flex;
                    align-items: center;

                    & p{
                        text-transform: uppercase;
                    }
                }
            }

            & li:hover{
                background-color: brown;
            }
        }
    }

    & .right{
        // border: 3px solid khaki;
        height: 100%;

        & .menu-list{
            // border: 3px solid aqua;
            color: white;
            height: 100%;
            & li{
                display: inline-block;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;
                position: relative;

                & span{
                    height: 100%;
                    display: flex;
                    align-items: center;

                    & p{
                        text-transform: capitalize;
                    }
                }

            }

            & li:hover{
                background-color: brown;
            }
            
        }

    }
}

.voce{
    position: relative;
}

.sottomenu{
    // display: none;
    height: auto;
    display: block;
    position: absolute;
    top: 100px;
    z-index: 1;
    border: 1px solid black;
    background-color: cadetblue;

    & ul{
        width: 100%;

        &li{
            padding: 14px 7px;
            width: 100%;
            display: block;
        }
    
    }
}

.voce:hover .sottomenu{
    display: block;
    position: absolute;
}
